import(src='./partial')

index
  .root
    div Hello
    div Logo
    .logo Logo
    .mainMenu: ul: li: a(href='#') Ping
    .header.-red Header 11010 uaa
      .container._right.GameMain Cont
      a.Btn.-primary(href='/') Home page
    .footer
      view(is='partial:test')
